{% extends "admin/change_form.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'core/admin/order_change_form.css' %}?v=1">
{% endblock %}

{% block form_top %}
<div class="order-ms-page-header">
  <h1 class="order-ms-page-title">
    <span class="order-ms-title-help" title="Заказ покупателя: клиент, статус и позиции с изделиями">?</span>
    {% if add %}Новый заказ покупателя{% else %}Заказ покупателя{% endif %}
  </h1>
</div>
{{ block.super }}
{% endblock %}
